 :root {
	--color-green-primary: #8e9c31;
	--color-green-light: #2b992e;
	--color-brown-primary: #5D4037;
	--color-brown-light: #f4e4d2;
}

body {
	font-family: 'Poppins', sans-serif;
	background: var(--color-green-primary);
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

h1 {
    font-size: 3rem;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn-login {
    text-decoration: none;
	background-color: var(--color-brown-primary);
	color: white;
	border: none;
	border-radius: 10px;
	padding: 0.75rem 2rem;
	font-size: 1.1rem;
	font-weight: 600;
	width: 200px;
	transition: all 0.3s ease;
}

.btn-login:hover {
    background-color: var(--color-brown-light);
	color: black;
	transform: translateY(-2px);
	box-shadow: 0 4px 12px rgba(76, 175, 80, 0.3);
}

.btn-login:active {
	transform: translateY(0);
}

.btn-back {
    position: absolute;
    bottom: 20px;
    background-color: var(--color-brown-primary);
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
	z-index: 1000;
	padding: 10px 20px;
}

.btn-back i {
	margin-right: 8px;
	color: white;
}

.btn-back:hover {
	background-color: var(--color-brown-light);
	color: var(--color-brown-primary);
	font-weight: bold;
}

.btn-back:hover i {
	color: var(--color-brown-primary);
}