<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Vivero - Realizar Pedido</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="/css/realizarPedido.css">
<style>
#searchInput:focus {
	border-color: brown;
	box-shadow: 0 0 5px rgba(165, 42, 42, 0.5);
	outline: none;
}
</style>
</head>
<body>
	<header class="header">
		<div class="logo-section">
			<div class="logo-placeholder">
				<a th:href="@{/menu}"> <img src="/imagenes/Logo.jpg"
					alt="Logo ViverApp" width="110px" height="110px">
				</a>
			</div>
			<h1 class="h1 mb-0">ViverApp Gestión</h1>
		</div>
		 <p class="welcome-message">
            <span class="usuario" sec:authentication="name">Usuario</span>
            <a th:href="@{/cliente/carrito}" class="fa fa-shopping-cart" style="font-size: 24px;"></a>
            <span class="carrito">0</span>
        </p>
	</header>

    <nav class="sidebar">
        <a class="sidebar-button" th:href="@{/pedidos/stock}"> Realizar Pedido </a>
        <a class="sidebar-button" th:href="@{/pedidos/mispedidos}"> Mis Pedidos</a>
        <a class="sidebar-button" th:href="@{/logout}"> Cerrar Sesión </a>
    </nav>

	<main class="main-content">
		<h3 class="text-center titulo">Selecciona las unidades deseadas de cada planta y pulsa en "Añadir al carrito"</h3>

		<!-- Añadir campo de búsqueda -->
		<div class="mb-3">
			<input type="text" id="searchInput" class="form-control"
				placeholder="Buscar por nombre común...">
		</div>

        <div class="table-container">
        <form th:action="@{/cliente/agregarCarrito}" method="POST">
    <table class="table table-striped table-hover" id="plantasTable">
        <thead>
            <tr>
                <th>Nombre Común</th>
                <th>Nombre Científico</th>
                <th>Unidades</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="entry : ${ejemplares}">
                <td th:text="${entry.key.nombrecomun}"></td>
                <td th:text="${entry.key.nombrecientifico}"></td>
               
                <td>
                    <input type="number" class="form-control cantidad-input"
                            th:name="'cantidades_' + ${entry.key.id}"  
                           min="0" 
                           th:max="${entry.value}" 
                           value="0"
                           onkeydown="return false;">
                </td>
            </tr>
        </tbody>
    </table>
      <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <div class="text-center mt-3">
        <button type="submit" class="btn-selec">Añadir al Carrito</button>
    </div>
</form>
</div>


		<div th:if="mensaje" class="error-message">
			<p th:text="${mensaje}"></p>
		</div>

		<div th:if="mensajeC" class="correcto-message">
			<p th:text="${mensajeC}"></p>
		</div>

	</main>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	
</body>
</html>
