:root {
	--color-green-primary: #7a862a;
	--color-green-light: #2b992e;
	--color-brown-primary: #5D4037;
	--color-brown-light: #f4e4d2;
}

body {
	background-color: var(--color-brown-light);
	font-family: Arial, sans-serif;
}

.success-message {
	background-color: var(--color-green-light);
	color: white;
	text-align: center;
	padding: 15px;
	font-size: 18px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.card {
	background-color: white;
	border-left: 5px solid var(--color-brown-primary);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
}

.section-title {
	color: var(--color-brown-primary);
	font-weight: bold;
	margin-bottom: 15px;
}

hr {
	border: 1px solid var(--color-brown-primary);
}

        .btn-back {
	position: fixed;
	bottom: 60px;
	right: 20px;
	background-color: var(--color-brown-primary);
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	z-index: 1000;
	color: white;
}

.btn-back i {
	margin-right: 8px;
	color: white;
}

.btn-back:hover {
	border: 2x solid var(--color-brown-primary);
	background-color: var(--color-brown-light);
	color: var(--color-brown-primary);
	font-weight: bold;
}

.btn-back:hover i {
	color: var(--color-brown-primary);
}