<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Vivero - Mensajes por Fechas</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="/css/vermensajesfecha.css">


</head>
<body>
	<header class="header">
		<div class="logo-section">
			<div class="logo-placeholder">
				<a th:href="@{/menuadmin}"> <img src="/imagenes/Logo.jpg"
					alt="Logo ViverApp" width="110px" height="110px">
				</a>
			</div>
			<h1 class="h1 mb-0">ViverApp Gestión</h1>
		</div>
		<p class="welcome-message">
			<i class="fa fa-user" aria-hidden="true"></i> <span
				th:text="${session.usuario}">Usuario</span>
		</p>
	</header>

	<nav class="sidebar">
		<a th:if="${session.perfil.toString() == 'ADMIN'}"
			class="sidebar-button" th:href="@{/registrarusuario}"> Registrar
			Usuario </a> <a th:if="${session.perfil.toString() == 'ADMIN'}"
			class="sidebar-button" th:href="@{/menuplantas}"> Menú Plantas </a> <a
			class="sidebar-button" th:href="@{/menuejemplares}"> Menú
			Ejemplares </a> <a class="seleccionado" th:href="@{/mensajes/menu}">
			Menú Mensajes </a> <a class="sidebar-button" th:href="@{/logout}">
			Cerrar Sesión </a>
	</nav>

	<main class="main-content">
		<form id="searchForm" action="/buscarmensajesfecha" method="POST">
			<div class="datepicker-container">
				<div>
					<label for="fechaInicial" class="datepicker-label">Fecha
						inicial</label> <input type="text" id="fechaInicial" name="fechaInicial"
						class="form-control">
				</div>
				<div>
					<label for="fechaFinal" class="datepicker-label">Fecha
						final</label> <input type="text" id="fechaFinal" name="fechaFinal"
						class="form-control">
				</div>
			</div>
			<button type="submit" class="search-button">Buscar</button>
		</form>


		<div th:if="mensaje" class="error-message">
			<p th:text="${mensaje}"></p>
		</div>

		<div th:if="mensajeC" class="correcto-message">
			<p th:text="${mensajeC}"></p>
		</div>


		<table id="tablaMensajes" th:if="${listadoMensajes}"
			class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Mensaje</th>
					<th>Fecha</th>
					<th>Hecho por</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="mensaje : ${listadoMensajes}">
					<td th:text="${mensaje.mensaje}"></td>
					<td
						th:text="${#temporals.format(mensaje.fechahora, 'dd/MM/yyyy HH:mm')}"></td>
					<td th:text="${mensaje.persona.credenciales.usuario}"></td>
				</tr>
			</tbody>
		</table>
	</main>

	<!-- jQuery y jQuery UI -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<!-- Bootstrap JS -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

	<script src="/js/vermensajesfecha.js">
		
	</script>
</body>
</html>
